/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
}

header .logo h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.container {
    text-align: center;
}

.text {
    font-family: 'Arial', sans-serif;
    color: #fff;
}

.we, .brands, .into {
    font-size: 3rem;
    color: #f5f1e9; /* Color crema */
    font-weight: bold;
    display: inline-block;
    margin: 0 0.5rem;
}

.turn-wrapper {
    position: relative;
    display: inline-block;
}

.turn {
    font-size: 3rem;
    color: #f5f1e9; /* Color crema */
    font-weight: bold;
    display: inline-block;
    margin: 0 0.5rem;
    z-index: 1;
    position: relative;
}

.circle {
    content: "";
    position: absolute;
    top: -10px;
    left: -20px;
    width: 130%;
    height: 150%;
    border: 5px solid #fff;
    border-radius: 50%;
    z-index: 0;
}

.heroes {
    font-size: 8rem;
    color: #ff0000; /* Color rojo */
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}

.heroes::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 10px;
    background: #fff;
    z-index: -1;
    transform: translateY(10px);
}
