@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://db.onlinewebfonts.com/c/55d433372d270829c51e2577a78ef12d?family=Monument+Extended+Bold');
@import url('https://db.onlinewebfonts.com/c/2206d6cc490084998d531e8c1b2cbb4a?family=Druk+Wide+Bold');
@import url('https://db.onlinewebfonts.com/c/67821e7ef9a2952d6e7757a6cae5a826?family=Novecento+WideBold');
@import url(https://db.onlinewebfonts.com/c/2bf40ab72ea4897a3fd9b6e48b233a19?family=Garamond);
@import url(https://db.onlinewebfonts.com/c/be7d12601306f9f1b7aac9eca131fc8f?family=AkzidenzGrotesk);
@import url(https://db.onlinewebfonts.com/c/bd317adf74e5e7e564eb61ce9926cc6d?family=Gotham);
@import url(https://db.onlinewebfonts.com/c/319f084531baf60194e74c8d66f482bd?family=Neue);
@import url(https://db.onlinewebfonts.com/c/dc3b686f53164408bb991e0d467102d2?family=TRIAL+Dx+Sitrus);
@import url(https://db.onlinewebfonts.com/c/54f18a83ca631070e2427736953966d9?family=Mabrick+Serif+Rought+Free);
@import url(https://db.onlinewebfonts.com/c/e6496bea4437a62d21b4f4ea502b18da?family=LFutura);


/*Body y cuerpo de la pagina --------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", cursive;
    font-size: xx-small;                                                                                                    
}
body {
    min-height: 100vh;
    /*background: url('backgroundProviDesidia.png') no-repeat center center fixed; */
    background-color: #022435;
    background-size: cover;
}
/*Header y navbar, iconos y responsive, menu ------------------------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6.8rem;
    padding: 1.5rem 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header * {
    transition: color 0.3s ease, transform 0.3s ease;
}
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1); 
    backdrop-filter: blur(15px); 
    z-index: -1;
}
.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}
.header:hover::after {
    left: 100%;
}
.logo {
font-size: 2rem;
color: rgb(255, 255, 255); 
text-decoration: none;
font-weight: 700;
}
.logo:hover {
    color: #2AEC88;
    transform: scale(1.1);
}
.navbar a {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}
.navbar a:hover {
    color: #2AEC88;
    transform: scale(1.1);
}
.navbar a.active{
    color: #FA6808;
    transform: scale(1.1);
}
#check {
    display: none;
}
.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}
/*BREAKPOINTS*/

.icons #menu-icon,
.icons #close-icon {
    font-size: 3.2rem;
}
.icons #menu-icon:hover {
    color: #2AEC88;
}
.icons #close-icon:hover {
    color: #2AEC88;
}
@media (max-width: 992px){
.header {
    padding: 1.3rem 5%;
}
}
@media (max-width: 768px) {
.icons {
    display: inline-flex;
}
#check:checked~.icons #menu-icon {
    display: none;
}
.icons #close-icon {    
    display: none;
}
#check:checked~.icons #close-icon {
    display: block;
}
.navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(15px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: .3s ease;
}
#check:checked~.navbar {
    height: 17.7rem;
}
.navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: .3s ease;
}
#check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(.15s * var(--i));
}
}  

/*Contenido de la pagina --------------------------- */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right:0;
    margin-bottom: 0;
}

.titulo .artista {
    display: block;
    width: 100%;
}

.titulo {
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
}

.titulo span {
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-size: 7vw;
    transition: 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transform-origin: bottom;
    margin: 10rem auto 0; /* Ajusta la distancia desde la parte superior y centra horizontalmente */
    font-family: "TRIAL Dx Sitrus";
    text-align: center;
}

.artista {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.artista span {
    cursor: pointer;
    color: #F33817;
    text-transform: uppercase;
    font-family: "TRIAL Dx Sitrus";
    font-size: 5vw;
    text-align: center;
    transition: 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transform-origin: bottom;
}


.imagenPortada {
    display: flex;
    width: 250px; /* Ajusta el ancho de la imagen según tus necesidades */
    height: 250px; /* Espacio entre la imagen y el texto */
    margin: 0 auto; /* Centra la imagen */
    margin-top: 10rem;
    margin-right: 6rem;
}

.containertextSpotify {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5rem;
    margin-right: 5rem;
    margin-left: 7rem;
    margin-bottom: 5rem;
}
.text-reseña h3 {
    color: white;
    display: flex;
    font-family: "LFutura";
    width: 100%;
    max-width: 790px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 1.5;
    margin-top: 1rem;

}
.frameSpotify {
    display: flex;
    max-width: 400px;
    height: 1100px;
    justify-content: flex-end;
    margin-top: 17rem;
}
.container-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.frameYoutube {
    display: flex;
    width: 100%;
    height: 500px;
    margin-top: 10rem;
    margin-block-end: 2rem;
}


.gallery-wrapper {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 460px; /* Ajusta la altura según tus necesidades */
    margin-top: 17rem;
    margin-left: 2rem;
    margin-right: 2rem;

}

.containerGallery {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    height: 100%;
    margin-right: 2rem;
}

.block {
    flex: 0 0 auto;
    position: relative;
    width: 580px;
    height: 460px;
    margin: 10px 20px; /* Ajusta los márgenes según tus necesidades */
}

.block h4 {
    position: flex;
    font-family: "Novecento WideBold";
    font-weight: lighter;
    font-size: 60px;
    color: #fff;
    bottom: 0;
    right: 0; /* Ajusta la posición del texto según tus necesidades */
}

.block-1 {
    background: url(images/mmcd/tracklist.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.block-2 {
    background: url(images/mmcd/tourCon.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.block-3 {
    background: url(images/mmcd/visuales.gif) no-repeat 50% 50%;
    background-size: cover;
}

.block-4 {
    background: url(images/mmcd/inspiracion.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.block-5 {
    background: url(images/mmcd/inspiracion.png) no-repeat 50% 50%;
    background-size: cover;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-color: #333;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    margin-right: 2rem;
    transition: background-color 0.3s ease;
}
.scroll-btn:hover {
    background-color: #555;
}
.arrow-left,
.arrow-right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    transition: border-width 0.3s ease, transform 0.3s ease;
    
}

.arrow-left {
    border-width: 15px 0 15px 25px;
    border-color: transparent transparent transparent #fff;
}

.arrow-right {
    border-width: 15px 25px 15px 0;
    border-color: transparent #fff transparent transparent;
}

.scroll-btn.prev .arrow-left {
    transform: translate(-50%, -50%) rotate(180deg);
}

.scroll-btn.next .arrow-right {
    transform: translate(-50%, -50%) rotate(180deg);
}

.container-youtube {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    margin-top: 180px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    perspective: 1000px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container-youtube:hover {
    transform: scale(1.01);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
}

.background-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ff00cc, #3333cc);
    z-index: -1;
    animation: gradientAnimation 5s infinite alternate;
    border-radius: 15px;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.frame-youtube {
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.frame-youtube iframe {
    width: 100%;
    height: 300px;
    width: 100%;
    border: none;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}

.frame-youtube:hover {
    transform: scale(1.03);
}

.frame-youtube:hover iframe {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*Responsive version*/
@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .titulo {
        text-align: center; 
    }
    .titulo span {
        font-size: 8vw;
    }

    .artista span {
        font-size: 8vw;
    }




    .imagenPortada {
        max-width: 80px; /* Reduzco el ancho máximo de la imagen */
        width: 100%; /* La imagen ocupará el 100% del ancho disponible */
        height: auto; /* La altura se ajustará automáticamente para mantener las proporciones originales */
        margin-top: 0.5rem; /* Ajusto el margen superior */
        margin-bottom: 0.5rem; /* Ajusto el margen inferior */
        margin-right: 0;
    }




    .containertextSpotify {
        flex-direction: column;
        align-items: center;
        margin: 2rem;
    }

    .frameSpotify {
        max-width: 100%;
        height: auto;
        margin-top: 2rem;
    }

    .container-text {
        position: static;
        width: 100%;
        padding: 1em;
        justify-content: center;
    }

    .frameYoutube {
        margin-top: 2rem;
        margin-block-end: 1rem;
    }

    .gallery-wrapper {
        height: 300px;
        margin-top: 2rem;
    }

    .block {
        width: 100%;
        height: 250px;
        margin: 10px 0;
    }

    .block h4 {
        font-size: 24px;
    }

    .scroll-btn {
        width: 40px;
        height: 40px;
        margin-right: 1rem;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Add specific styles for tablets if needed */
}

/* Desktop Styles */
@media only screen and (min-width: 1025px) {
    /* Add specific styles for desktop if needed */
}
/* Media queries para tamaños de pantalla más grandes si es necesario */
