@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://db.onlinewebfonts.com/c/67821e7ef9a2952d6e7757a6cae5a826?family=Novecento+WideBold');
@import url(https://db.onlinewebfonts.com/c/65e36fdf4beb60e0deae894a1777a091?family=Zurich+Ultra+Black+Extended);
@import url(https://db.onlinewebfonts.com/c/116af611cbcd9e4bada60b4e700430c1?family=Avenir+Light);
@import url(https://db.onlinewebfonts.com/c/7aa69c481b407f30ed286cad3d58dcf2?family=Eina+03+W03+SemiBold);
@import url(https://db.onlinewebfonts.com/c/be7d12601306f9f1b7aac9eca131fc8f?family=AkzidenzGrotesk);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", cursive;
    font-size: xx-small;                                                                                                    
}
body {
    min-height: 100vh;
    /*background: url('backgroundProviDesidia.png') no-repeat center center fixed; */
    background-color: rgb(255, 255, 255);
    background-size: cover;
}

 /*Header y navbar, iconos y responsive, menu ------------------------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6.8rem;
    padding: 1.5rem 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header * {
    transition: color 0.3s ease, transform 0.3s ease;
}
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1); 
    backdrop-filter: blur(15px); 
    z-index: -1;
}
.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}
.header:hover::after {
    left: 100%;
}
.logo {
    font-size: 2rem;
    color: rgb(0, 0, 0); 
    text-decoration: none;
    font-weight: 700;
}
.logo:hover {
    color: #2AEC88;
    transform: scale(1.1);
}
.navbar a {
    font-family: 'Novecento WideBold';
    font-size: 1.5rem;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}
.navbar a:hover {
    color: #2AEC88;
    transform: scale(1.1);
}
.navbar a.active {
    color: rgb(0, 64, 255);
    transform: scale(1.1);
}
.header .navbar a i {
    padding: 0 0.3rem;
    font-size: 1.7rem;
}
#check {
    display: none;
}
.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #000000;
    cursor: pointer;
    display: none;
}
.icons #menu-icon,
.icons #close-icon {
    font-size: 3.2rem;
}
.icons #menu-icon:hover {
    color: #2AEC88;
}
.icons #close-icon:hover {
    color: #2AEC88;
}
/*BREAKPOINTS*/
@media (max-width: 992px){
.header {
    padding: 1.3rem 5%;
}
}
@media (max-width: 768px) {
.icons {
    display: inline-flex;
}
#check:checked~.icons #menu-icon {
    display: none;
}
.icons #close-icon {    
    display: none;
}
#check:checked~.icons #close-icon {
    display: block;
}
.navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(15px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: .3s ease;
}
#check:checked~.navbar {
    height: 22.7rem;
}
.navbar a {
    display: block;
    font-size: 1.25rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: .3s ease;
}
#check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(.15s * var(--i));
}
.navbar a i {
    display: block;
    font-size: 2rem;
}
} 

main {
    display: grid;
    grid-template-columns: 3fr 1fr; /* Ajusta el ancho de article y aside */
    gap: 20px;
    max-width: 100%;
    width: 100%;
    padding: 40px;
    margin-top: 10rem;
}

article {
    border: 2px solid #ccc;
    padding: 10px;
}

article h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 4rem;
    font-family: 'Novecento WideBold';
}

article img {
    width: 100%;
    height: auto;
    padding: 20px;
}

article p {
    font-size: 1.8rem;
    text-align: justify;
    margin-bottom: 8px;
    padding: 20px;
    line-height: auto;
}

aside {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside .magazine-cover {
    border: 2px solid #ccc;
    padding: 20px;
    text-align: center;
}

aside h2 {
    font-size: 2rem;
    margin-top: 2rem;
    padding: 7px;
    margin-bottom: 1rem;
}

aside p {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 8px;
    padding: 10px;
    line-height: auto;
}

aside img {
    max-width: 100%;
    height: auto;
}

/* Media queries para hacerlo responsive */
@media (max-width: 1024px) {
    main {
        grid-template-columns: 2fr 1fr; /* Ajuste para pantallas medianas */
    }

    article h1 {
        font-size: 2.5rem;
    }

    article p {
        font-size: 1.6rem;
    }

    aside h2 {
        font-size: 1.8rem;
    }

    aside p {
        font-size: 1.4rem;
    }
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr; /* Una columna para pantallas pequeñas */
    }

    article {
        order: 2; /* Mover article debajo de aside */
    }

    aside {
        order: 1;
    }

    article h1 {
        font-size: 2rem;
    }

    article p {
        font-size: 1.4rem;
    }

    aside h2 {
        font-size: 1.6rem;
    }

    aside p {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    main {
        padding: 20px;
    }

    article h1 {
        font-size: 1.8rem;
    }

    article p {
        font-size: 1.2rem;
    }

    aside h2 {
        font-size: 1.4rem;
    }

    aside p {
        font-size: 1.1rem;
    }
}
