@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://db.onlinewebfonts.com/c/67821e7ef9a2952d6e7757a6cae5a826?family=Novecento+WideBold');
@import url(https://db.onlinewebfonts.com/c/65e36fdf4beb60e0deae894a1777a091?family=Zurich+Ultra+Black+Extended);
@import url(https://db.onlinewebfonts.com/c/116af611cbcd9e4bada60b4e700430c1?family=Avenir+Light);
@import url(https://db.onlinewebfonts.com/c/7aa69c481b407f30ed286cad3d58dcf2?family=Eina+03+W03+SemiBold);
@import url(https://db.onlinewebfonts.com/c/be7d12601306f9f1b7aac9eca131fc8f?family=AkzidenzGrotesk);

/*Body y cuerpo de la pagina --------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", cursive;
    font-size: xx-small;                                                                                                    
}
body {
    min-height: 100vh;
    background-color: #000000;
    background-size: cover;
}
/*Loader y contenido "carga de pagina" ------------------ */
.container-loader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: hidden;
}
.pre-loader {
    position: relative;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.loader {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #1c0217, #040437);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(1.2);
    transition: all 0.5s ease;
    filter: blur(10px);
}
.loader.show {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
}
.loader-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    max-width: 400px;
    z-index: 2;
    color: #fff;
}
.count {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}
.copy {
    font-family: "PP Editorial Old";
    font-size: 4vw;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 2px;
    transition: all 0.5s ease;
}
.ml16 {
    overflow: hidden;
}
.ml16 .letter {
    display: inline-block;
    line-height: 1em;
}
.loader-bg,
.loader-2 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    backdrop-filter: blur(20px);
    transition: all 0.5s ease;
}
.loader-bg {
    background: radial-gradient(circle at 20% 50%, #1b0116, transparent 50%),
                radial-gradient(circle at 80% 50%, #010126, transparent 50%);
    background-size: 300% 100%;
    background-position: 0 0, 100% 0;
    animation: loaderBgAnimation 2s linear infinite;
}
@keyframes loaderBgAnimation {
    0% {
        background-position: 0 0, 100% 0;
    }
    100% {
        background-position: 100% 0, 0 0;
    }
}
/*Header y navbar, iconos y responsive, menu ------------------------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7.7rem;
    padding: 1.5rem 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header * {
    transition: color 0.3s ease, transform 0.3s ease;
}
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1); 
    backdrop-filter: blur(15px); 
    z-index: -1;
}
.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}
.header:hover::after {
    left: 100%;
}
.logo {
    font-size: 2rem;
    color: rgb(255, 255, 255); 
    text-decoration: none;
    font-weight: 700;
}
.logo:hover {
    color: #2AEC88;
    transform: scale(1.1);
}
.navbar a {
    font-family: 'Novecento WideBold';
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}
.navbar a:hover {
    color: #2AEC88;
    transform: scale(1.1);
}
.navbar a.active {
    color: rgb(88, 183, 255);
    transform: scale(1.1);
}
.header .navbar a i {
    padding: 0 0.3rem;
    font-size: 1.7rem;
}
#check {
    display: none;
}
.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}
.icons #menu-icon,
.icons #close-icon {
    font-size: 3.2rem;
}
.icons #menu-icon:hover {
    color: #2AEC88;
}
.icons #close-icon:hover {
    color: #2AEC88;
}
/*BREAKPOINTS*/
@media (max-width: 992px){
.header {
    padding: 1.3rem 5%;
}
}
@media (max-width: 768px) {
.icons {
    display: inline-flex;
}
#check:checked~.icons #menu-icon {
    display: none;
}
.icons #close-icon {    
    display: none;
}
#check:checked~.icons #close-icon {
    display: block;
}
.navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(15px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: .3s ease;
}
#check:checked~.navbar {
    height: 22.7rem;
}
.navbar a {
    display: block;
    font-size: 1.25rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: .3s ease;
}
#check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(.15s * var(--i));
}
.navbar a i {
    display: block;
    font-size: 2rem;
}
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
/* Primer slider novedades ------------------------------------ */
.slider {
    height: 115vh;
    margin-top: -50px;
    position: relative;
}

.slider .list .item {
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.slider .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #000 40%, transparent);
}

.slider .list .item .content {
    position: absolute;
    left: 10%;
    top: 40%;
    transform: translateY(-50%);
    width: 80%;
    max-width: 500px;
    z-index: 1;
}

.slider .list .item .content p:nth-child(1) {
    text-transform: uppercase;
    letter-spacing: 10px;
}

.slider .list .item .content p {
    height: auto;
    font-size: 1.2vw;
    color: #fff;
    margin: 0;
}

.slider .list .item .content h2 {
    font-size: 5vw;
    color: #fff;
    margin: 0;
}

.slider .list .item.active {
    opacity: 1;
    z-index: 10;
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3) {
    transform: translateY(20px);
    filter: blur(10px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}

.slider .list .item.active h2 {
    animation-delay: 1s;
}

.slider .list .item.active p:nth-child(3) {
    animation-duration: 1.3s;
}

.arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.arrows button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.arrows button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: scale(1.1);
}

.arrows button i {
    pointer-events: none; /* Asegura que solo el botón entero sea clickeable, no solo el icono */
}

#prev {
    position: absolute;
    left: 20px;
    transform: translateY(-50%);
}

#next {
    position: absolute;
    right: 20px;
    transform: translateY(-50%);
}

.thumbnail {
    position: absolute;
    bottom: 30px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}

.thumbnail::-webkit-scrollbar {
    width: 0;
}

.thumbnail .item {
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.thumbnail .item.active {
    filter: brightness(1.5);
}

.thumbnail .item .content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    inset: auto 10px 10px 10px;
    text-align: center;
}

.thumbnail .item .content p {
    color: #fff;
}

@media screen and (max-width: 678px) {
    .slider {
        height: 100vh;
        margin-top: -50px;
        position: relative;
    }
    .list .item .content {
        width: 90%;
        top: 29%;
        left: 5%;
        transform: translateY(0);
    }
    .slider .list .item .content h2 {
        font-size: 10vw;
    }
    .slider .list .item .content p {
        font-size: 3.5vw;
    }
    .arrows {
        top: 10px;
    }
    .thumbnail {
        bottom: 30px;
        height: auto;
        padding: 0 20px;
        justify-content: flex-start;
    }
    .thumbnail .item .content {
        bottom: auto;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* Segundo Slider posibles noticias -------------------------------------- */
.img-slider {
    position: flex;
    width: 100%; 
    height: 95vh; 
    overflow: hidden;
    background: rgb(1, 0, 17);
    margin-top: auto;
    flex-wrap: wrap;
    border-radius: 20px; /* Bordes redondeados del contenedor */
    box-shadow: 0 4px 8px rgba(37, 37, 37, 0.1); /* Añade una sombra para darle un efecto de profundidad */
}

.img-slider .slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 50% 50%);
    border-radius: 35px; 
}

.img-slider .slide.active {
    clip-path: circle(150% at 50% 50%);
    transition: 2.5s;
    transition-property: clip-path;
}

.img-slider .slide img {
    z-index: 1;
    width: 100%;
    height: 100%; /* Ajusta la imagen para que ocupe el 100% del contenedor */
    object-fit: cover; /* Mantiene la relación de aspecto de la imagen y la recorta si es necesario */
    border-radius: 20px; /* Bordes redondeados de la imagen */
    display: flex;
}

.img-slider .slide .info {
    position: absolute;
    top: 0;
    padding: 15px 30px;
    border-radius: 50px; /* Bordes redondeados del contenedor de información */
}

.img-slider .slide .info h2 {
    color: rgb(255, 255, 255);
    align-items: center;
    font-family: "Novecento WideBold";
    text-transform: uppercase;
    font-size: 6rem; /* Tamaño de fuente relativo a la anchura de la pantalla */
    font-weight: 400;
    text-align: center;
    letter-spacing: 4px;
    margin-top: 5rem;
    margin: auto;
}

.img-slider .slide .info p {
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    font-family: "Avenir Light";
    font-size: 2vw; /* Tamaño de fuente relativo a la anchura de la pantalla */
    width: 100%;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 4px;
    margin-top: 2rem;
    text-align: center;
}


.img-slider .navigation {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.img-slider .navigation .btn {
    background: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.img-slider .navigation .btn.active {
    background: rgb(0, 72, 255);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
}
/* Media queries para tamaños de pantalla más pequeños */
@media (max-width: 768px) {
    .img-slider {
        height: 50vh; /* Ajusta la altura para pantallas más pequeñas */
    }

    .img-slider .slide .info h2 {
        font-size: 5vw; /* Aumenta el tamaño de fuente en pantallas pequeñas */
    }

    .img-slider .slide .info p {
        font-size: 3vw; /* Aumenta el tamaño de fuente en pantallas pequeñas */
    }

    .img-slider .navigation .btn {
        width: 10px; /* Ajusta el tamaño de los botones de navegación */
        height: 10px;
    }
}

@media (max-width: 480px) {
    .img-slider {
        height: 40vh; /* Ajusta la altura para pantallas muy pequeñas */
    }

    .img-slider .slide .info h2 {
        font-size: 6vw; /* Aumenta el tamaño de fuente en pantallas muy pequeñas */
    }

    .img-slider .slide .info p {
        font-size: 4vw; /* Aumenta el tamaño de fuente en pantallas muy pequeñas */
    }

    .img-slider .navigation .btn {
        width: 8px; /* Ajusta el tamaño de los botones de navegación */
        height: 8px;
    }
}



/*contenedores donde se encuentra las noticias e imagenes --------------------------------*/
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
    margin-top: 5rem;
    gap: 5px;
    padding: auto;
}
.card {
    background:  #0C2A3B;
    color:  white;
    gap: 20px;
    width: 275px; 
    height: auto;  
    margin: 10px;
    overflow: hidden;
    border-radius: 25px;
    transition: all 0.25s ease-in-out;
    transform-origin: center bottom; 
}
.card-image {
    background-color: #000000;
    height: 210px;
    margin-bottom: 25px;
    background-size: cover;
    border-radius: 17px 17px 0 0;
}
.car-1 {
    background-image: url('images/top20Desidia.png');
}
.car-2 {
    background-image: url('images/reggaetonMex.jpeg');
}
.car-3 {
    background-image: url('images/proyecto24.jpeg');
}
.car-4 {
background-image: url('images/mexa.webp') ;
}

.car-5 {
    background-image: url('images/mexa.webp');
}
.car-6 {
    background-image: url('images/frankr.jpeg') ;
}
.car-7 {
    background-image: url('images/tinometrop.png');
}
.car-8 {
    background-image: url('images/1.png'); 
}

.card h2{
    font-family: 'Novecento WideBold'; 
    font-size: 2.2rem; 
    text-align: center;
    line-height: 1.3;
    letter-spacing: 0.5px;
}
.card p {
    padding: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.8rem; 
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.2px;
}
.card a{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
}
.card a:hover {
    background-color: #fff;
    color: #2d2aec;
    transform: scale(1.3);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}
.card:hover {
    background-color:  #7EA5BB;;
    color: white;
    cursor: pointer;
    transform:  scale(1.065);
    transition: all 0.3s ease; /* Ajustado para una transición más suave */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}
@media (max-width: 767px) {
    
    .container {
        display: flex;
    }
}

/*Slider final grid ------------------------------------- */
.container-title {
    text-align: center;
    margin: 5rem 0 8px 0;
    background: linear-gradient(135deg, #292929, #3c3c3c);
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(114, 13, 13, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.container-title:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.container-title h2 {
    font-size: 42px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.container-grid {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;   
    margin-top: auto;
}
.nav {
    position: relative;
    width: 8%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
}
.grid {
    position: absolute;
    top: 25%;
    text-transform: uppercase;
    transform: rotate(90deg);
    width: max-content;
    font-weight: bolder;
}
.nav-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}
.swiper {
    width: 100%;
    height: 100%;
}
.nav-items {
    display: flex;
    transform: rotate(90deg);
    padding: 1em 0;
}
.nav-items div {
    padding: 0 1em;
    text-transform: uppercase;
    color: gray;
    font-weight: bolder;
}
.swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
}
.swiper-slide img {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
.swiper {
    margin-left: auto;
    margin-right: auto;
}
.slider-nav {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    z-index: 2;
    color: #fff;
}
.slider-copy {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
}
.cabecera {
    font-size: 5vw;
}
.name {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 2px #fff;
    font-size: 6vw;
    padding: 0 .2em 0;
}
.artist {
    font-weight: 300;
    padding: 0 .5em;
}
ion-icon {
    font-size: 30px;
    padding: 1em;
}
.content-grid {
    position: relative;
    width: 100%;
    top: 90vh;
    padding: 0 2em;
}
.bottom-nav {
    padding: 2em 0;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
@media(max-width: 900px) {
    .container-grid {
        width: 100%;
        display: flex;   
    }
    .nav {
        width: 100%;
        height: 10vh;
        display: flex;
    }
    .nav-left .grid {
        transform: rotate(0);
        top: auto;
    }
    .nav-right {
        height: 10vh;
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
    .nav-items {
        transform: rotate(0);
    }
    .nav-items ion-icon {
        display: none
    }
    .container-title {
        text-align: center;
        margin-bottom: 8px;
        margin-top: 5rem;
        background-color: #292929;
    }
    .container-title h2 {
        font-size: 6vw;
        color: #ffffff; /* Ajusta el color según el diseño de tu sitio */
        font-weight: bold;
    }
}
:root {
    --swiper-pagination-color: #000;
}

/* Container About us ---------------------------------------------- */
.section {
    width: 100%;
    min-height: 100%;
    background-color: black;
    margin-top: auto;
}
.container2 {
    width: 85%;
    display: flex;
    margin: auto;
    padding-top: 100px;
}
.content-section {
    width: 100%;
    height: 100%;
    margin: 10px;
}
.image-section {
    width: 65%;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 8px;
}
.image-section img {
    width: 100%;
    padding: 25px;
    height: auto;
    display: block;
}
.image-section.hvr-wobble-horizontal:hover {
    animation: hvr-wobble-horizontal 3s ease-in-out both;
}
@keyframes hvr-wobble-horizontal {
    16.65% {
        transform: translateX(9px);
    }
    33.3% {
        transform: translateX(-4px);
    }
    49.95% {
        transform: translateX(6px);
    }
    66.6% {
        transform: translateX(-2px);
    }
    83.25% {
        transform: translateX(3px);
    }
    100% {
        transform: translateX(0);
    }
}
.content-section .title-about h1 {
    text-transform: uppercase;
    font-size: 30px;
    color: #fff;
    text-align: center;
}
.content-section .content h3 {
    margin-top: 20px;
    text-align: center;
    color: #d4d1d1;
    font-size: 13px;
}
.content-section .content p {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
    color: #a7a7a7;
}
.content-section .content .button2 {
    margin-top: 10px;
    text-align: center;
}
.content-section .content .button2 a {
    background-color: #2AEC88;
    padding: 3px 12px;
    border-radius: 30px; 
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    letter-spacing: 1.5px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s, transform 0.3s;
}
.content-section .content .button2 a:hover {
    background-color: #2d2aec;
    color: #fff;
    transform: scale(1.1);
}
.content-section .social {
    margin: 20px 0;
    text-align: center;
}
.content-section .social i {
    color: #2AEC88;
    font-size: 25px;
    padding: 2px 10px;
}
.content-section .social i:hover {
    color: #2d2aec;
}

@media screen and (max-width: 768px) {
    .section{
        min-height: 100%;
    }
    .container2 {
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }
    .content-section {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .image-section {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .content-section .title {
        text-align: center;
        font-size: 60px;
    }
    .content-section .content .button2 { 
        text-align: center;
    }
    .content-section .content .button2 a {
    padding: 3px 10px;
    font-size: 13px;
    }
    .content-section .social {
        text-align: center;
    }
    .image-section img {
        display: flex;
    }
    .image-section img {
        display: none;
    }
}
