@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


/*Primer slider y navbar*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", cursive;
    font-size: xx-small;
}

body {
    min-height: 100vh;
    background: url('backgroundProviDesidia.png') no-repeat center center fixed; 
    background-size: cover;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1); 
    backdrop-filter: blur(20px); 
    z-index: -1;
}

.header::after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}

.header:hover::after{
    left: 100%;
}

.logo {
    font-size: 2rem;
    color: rgb(255, 255, 255); 
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

/*BREAKPOINTS*/

@media (max-width: 992px){
    .header{
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px){
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

.icons #close-icon {    /* REVISAR*/
    display: none;
}

    #check:checked~.icons #close-icon {
        display: block;
    }

.navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(20px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: .3s ease;
}

    #check:checked~.navbar {
        height: 17.7rem;
    }

.navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: .3s ease;
}

#check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(.15s * var(--i));
}
}

/*Primer slider novedades*/
.slider{
    height: 100vh;
    margin-top: -50px;
    position: relative;
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top, #000 40%, transparent
    );
}
.slider .list .item .content{
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
}
.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}
.slider .list .item .content p{
    font-size: 20px;
    color: #fff;
    margin: 0;
}

.slider .list .item .content h2{
    font-size: 100px;
    color: #fff;
    margin: 0;
}
.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
    animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}
.arrows{
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}
.arrows button{
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}
.arrows button:hover{
    background-color: #eee;
    color: black;
}
.thumbnail{
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .item.active{
    filter: brightness(1.5);
}
.thumbnail .item .content{
    position: absolute;
    inset: auto 10px 10px 10px;
}
@media screen and (max-width: 678px) {
    .thumbnail{
        justify-content: start;
    }
    .slider .list .item .content h2{
        font-size: 60px;
    }
    .arrows{
        top: 10%;
    }
}


/*Segundo Slider posibles noticias*/
.img-slider{
    position: relative;
    width: 100%;
    max-width: 1280px;
    height: 600px;
    margin: 10px auto;
    overflow: hidden;
    background: black;
}
.img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}
.img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;

}
.img-slider .slide img{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
}
.img-slider .slide .info{
    position: absolute;
    top: 0;
    padding:15px 30px
}
.img-slider .slide .info h2{
    color: #fff;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}
.img-slider .slide .info p{
    color: #fff;
    background: rgba(0, 0, 0, .1);
    font-size: 16px;
    width: 60%;
    padding: 10px;
    border-radius: 4px;
}
.img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 20px;
    left: 50%;
    transform: transaleX(-50%);
}
.img-slider .navigation .btn{
    background: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.img-slider .navigation .btn.active{
    background: #2AEC88;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
@media (max-width: 400px) {
    .img-slider{
        width: 320px;
        height: 200px;
    }

    .img-slider .slide .info{
        padding: 5px 10px;
}
    .img-slider .slide .info h2{
        font-size: 20px;
    }
    .img-slider .slide .info p{
        width: auto;
        font-size: 9px;
    }
    .img-slider .navigation{
        bottom: 10px;
    }
}





/*contenedores donde se encuentra las noticias e imagenes*/
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%; /* Cambiar al porcentaje o a un valor específico según tus necesidades */
    max-width: 1200px; /* Puedes establecer un ancho máximo si lo deseas */
    margin: 0 auto; /* Centrar el contenedor en la página */
}
.card {
    background: white;
    width: 270px; /*modificado*/
    height: auto;  
    margin: 10px;
    overflow: hidden;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    transform-origin: center bottom; 

}
.card-image {
    background-color: #2AEC88;
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.car-1 {
    background-image: url('images/top20Desidia.png');

}
.car-2 {
    background-image: url('images/reggaetonMex.jpeg');
}
.car-3 {
    background-image: url('images/proyecto24.jpeg');
}
.car-4 {
background-image: url('images/edc.jpeg') ;
}
.car-5 {
    background-image: url('images/sayonara.jpeg');
}
.car-6 {
    background-image: url('images/frankr.jpeg') ;
}
.car-7 {
    background-image: url('images/tinometrop.png');
}
.car-8 {
    background-image: url('images/rdb.jpeg');
}
.card h2{
    padding: 10px;
    font-family: 'Playfair Display', sans-serif; /* Cambia 'Arial' por la fuente que elijas */
    font-size: 20px; /* Ajusta el tamaño según tus preferencias */
    text-align: center;
    line-height: 1.2;
    
}

.card p {
    padding: 10px;
    font-family: 'Roboto', sans-serif; 
    font-size: 13px; 
    text-align: center;
    line-height: 1.3;
}


.card a{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
}
.card a:hover {
    background-color: #fff;
    color: #2d2aec;
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}
.card:hover {
    background-color: #02060c;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
    transform: scale(1.05); /* Ajusta el valor según tus preferencias */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}








/* Container About us*/
.section{
    width: 100%;
    min-height: 100vh;
    background-color: black;
}
.container2{
    width: 80%;
    display: flex;
    margin: auto;
    padding-top: 100px;
}
.content-section{
    float: left;
    width: 55%;
}
.image-section{
    width: 45%;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 20px;
}
.image-section img{
    width: 100%;
    height: auto;
    display: block;
}
/* Agrega la clase hvr-wobble-horizontal para aplicar el efecto */
.image-section.hvr-wobble-horizontal:hover {
    animation: hvr-wobble-horizontal 1s ease-in-out both;
}
/* Define la animación (tomada de Hover.css) */
@keyframes hvr-wobble-horizontal {
    16.65% {
        transform: translateX(8px);
    }
    33.3% {
        transform: translateX(-6px);
    }
    49.95% {
        transform: translateX(4px);
    }
    66.6% {
        transform: translateX(-2px);
    }
    83.25% {
        transform: translateX(1px);
    }
    100% {
        transform: translateX(0);
    }
}


.content-section .title{
    text-transform: uppercase;
    font-size: 60px;
    color: #fff;
    text-align: center;
}
.content-section .content h3{
    margin-top: 20px;
    color: #d4d1d1;
    font-size: 13px;
}
.content-section .content p{
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.5;
    color: #a7a7a7;

}
.content-section .content .button2{
    margin-top: 20px;


}
.content-section .content .button2 a{
    background-color: #2AEC88;
    padding: 5px 18px;
    border-radius: 35px; 
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1.5px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s, transform 0.3s;
}
.content-section .content .button2 a:hover{
    background-color: #2d2aec;
    color:#fff;
    transform: scale(1.1);

}
.content-section .social{
    
    margin:20px 0;
    text-align: center;

}
.content-section .social i{
    color:#2AEC88;
    font-size: 34px;
    padding:0px 10px;
}
.content-section .social i:hover{
    color:#2d2aec;
}
@media screen and (max-width: 768px){
    .container2{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }
    .content-section{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .image-section{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .content-section .title{
        text-align: center;
        font-size: 60px;
    }
    .content-section .content .button2{
        text-align: center;
    }
    .content-section .content .button2 a{
    padding: 9px 30px;
    font-size: 18px;
    }
    .content-section .social{
        text-align: center;
    }
}